@import './normalize.scss';
@import './variables.scss';
@import './layout.scss';
@import './transition.scss';

.page-container{
    min-height: calc(100vh - 70px);
    margin: 10px;
    background: #ffffff;
}

.setting-title{
    font-size: 14px;
    color: #303133;
    font-weight: 500;
    margin-right: 10px;
}

.after-tip{
    margin-left:5px;font-size:10px;color:#C0C4CC;
}